<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <%= link_to 'Tangle', root_path, class: 'navbar-brand' %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <%= ul_linked_bootstrap_menu class: 'mr-auto', items: menu_items %>
    <div class='dropdown'>
      <button class="nav-link dropdown-toggle btn btn-dark btn-sm"
              data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false"> Tangle </button>
      <div class="dropdown-menu">
        <%= link_to 'All', root_path, class: 'dropdown-item' %>
        <% Domain.all.each do |d| %>
          <%= link_to d.name, root_path(domain_id: d.id), class: 'dropdown-item' %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
