<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <%= link_to 'Tangle', root_path, class: 'navbar-brand' %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <%= ul_linked_boostrap_menu class: 'mr-auto', items: menu_items %>
  </div>
</nav>
