<h1>Projects</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Icon</th>
      <th class='col-2'>Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= fa_icon 'fas-' + project.icon %></td>
        <td><%= link_to project.name, project %></td>
        <td><div class='ellipsable'><%= project.description %></div></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
