/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree . Commented out to follow the right path to use Sass directives
 * require_self
 */

@import "bourbon";
@import "bootstrap";
@import "font-awesome";
@import "tasks"; // Import all style sheets on this directory
@import "projects";

body {
  @include padding(5em 5em);
}

.ellipsable {
  @include ellipsis;
}

.col-md {
  @include size(10000em, auto);
}

.col-sm {
  @include size(3em, auto);
}

.card-status {
  @include position(absolute, 0 0 null null );
  @include padding(.5em .7em 0 0);
}

.card-controlls {
  @include position(relative, null 0 0 null );
  font-size: 1.3em;
}

.card-stack {
  @include padding(1em);
  max-width: 23em;
  height: 10em;

  @for $i from 0 to 3 {
    .stack-child-index#{$i} {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      max-width: 20em;
      min-height: 8em;
      @include position(relative, $i*-6.9em null null $i*.4em);
      background: white;
      transition: transform 300ms ease-in-out;
    }
  }
}

@for $i from 0 to 3 {
  .card-stack:hover .stack-child-index#{$i} {
    transform: translate($i*4em, $i*4em);
  }
}

.update-date {
  font-size: .5em;
}
.comment-stack {
  @include padding(5em null null null);
}

.card-description {
  max-width: 35em;
  min-height: 10em;
}

.fa {
  padding: .3em;
}

