/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * Using @import instead of sprockets directives due to this: 
 *  https://content.pivotal.io/blog/structure-your-sass-files-with-import
 * require_tree .
 * require_self
 */

// Libraries
@import 'bourbon'
@import 'bootstrap'
@import 'font-awesome'

// Specific SASS files
@import 'tasks'
@import 'projects'
@import 'landing'

body
  +padding(5em)

.ellipsable
  +ellipsis

.col-md
  +size(10000em, auto)

.col-sm
  +size(3em, auto)

.card-status
  +position(absolute, 0 0 null null )
  +padding(.5em .7em 0 0)

.card-controlls
  +position(absolute, null -0.5em -1em null )
  +border-radius(50%)
  font-size: 2em
  text-align: center
  +size(1.6em)
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

.card-stack
  +padding(1em)
  max-width: 36em
  height: 10em

  @for $i from 0 to 3
    .stack-child-index#{$i}
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
      min-height: 10em
      +position(relative, $i*-8.9em null null $i*.4em)
      background: white
      transition: transform 300ms ease-in-out

@for $i from 0 to 3
  .card-stack:hover .stack-child-index#{$i}
    transform: translate($i*2em, $i*2em)

.update-date
  font-size: .5em

.comment-stack
  +padding(5em null null null)

.card-description
  max-width: 34em
  min-height: 10em
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

.fa
  padding: .3em

.user-icon
  font-size: 2em

.comment-user-info
  text-align: center

.bottom-username
  font-size: .6em

// To get it floating
#notice-holder
  position: absolute

